<!DOCTYPE html>

<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-resource.min.js"></script>
		<script type="text/javascript" src="js/repo.js"></script>
		<script type="text/javascript" src="js/init.js"></script>
		<link rel="stylesheet" type="text/css" href="css/ajs_task.css" />
	</head>

	<body ng-app="ajs_task">
		<div ng-controller="SearchCtrl">
			<label>Max size: </lable><input type="text" name="rSize" ng-model="rSize" class="num" />
			<label>Min stars: </lable><input type="text" name="rStars" ng-model="rStars" class="num" />
			<label>Min forks: </lable><input type="text" name="rForks" ng-model="rForks" class="num" />
			<input ng-model="query" placeholder="Search">
			<button ng-click="executeSearch()">Go</button>
			<hr />
			<label>Asc: </label><input type="checkbox" checked="checked" name="asc" ng-click="asc()" />
			<label>Count: </lable><input type="text" name="limit" ng-model="limit" class="num" />
			<hr />
			<table>
				<tr>
					<th>Owner</th>
					<th>Language</th>
					<th>Size</th>
					<th>Stars</th>
					<th>Forks</th>
					<th>Description</th>
				</tr>
				<tr ng-repeat="repo in repos | limitTo: limit | orderBy : order"> 
					<td>{{repo.owner.login}}<br /><img ng-src={{repo.owner.avatar_url}}></td>
					<td>{{repo.language}}</td>
					<td>{{repo.size}}</td>
					<td>{{repo.stargazers_count}}</td>
					<td>{{repo.forks_count}}</td>
					<td>{{repo.description}}</td>
				</tr>
			</table>
		</div>
	</body>
</html>