<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <customErrors mode="On" defaultRedirect="~/Content/error.html">
    </customErrors>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
    <authentication mode="None">
    </authentication>
  </system.web>
  
  <system.webServer>
    <modules>
      <add name="AuthHttpModule" type="RpR.HttpModules.AuthHttpModule" />
    </modules>
    <handlers>
      <add verb="*" path="*.rpr" name="RprAsyncHandler" type="RpR.RprAsyncHandler" />
    </handlers>
  </system.webServer>
  <connectionStrings>
    <add
      name="EFDbContext"
      connectionString="Data Source=(localdb)\v11.0; Initial Catalog=Say; Integrated Security=True"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>