.tabs
{
	position: relative;
	width: 40%;
	height: 65%;
	min-width: 25em;
	min-height: 20em;
	float: left;
	margin-top: - 4em;
}

.tabs .tabs-item
{
	position: absolute;
	top: 3em;
	left: 1em;
	height: 65%;
	width: 85%;
	padding: 1em 1em;
	background-color: #ddd;
	border-radius: 5px;
	box-shadow: 0 3px 3px rgba(0,0, 0, 0.5);
	z-index: 0;
}

.tabs .tabs-item:first-child { z-index: 1; }
.tabs .tabs-item:target { z-index: 1; }

.tabs .tabs-item h3
{
	position: absolute;
	min-width: 9em;
	height: 1.8em;
	top: -1.8em;
	left: 1px;
	margin: 0;
	color: white;
	background-color: #555;
	border-radius: 0px 10px 0 0;
	transition: all 1500ms ease;
}

.tabs .tabs-item:nth-child(2) h3 { left: 9.1em; }
.tabs .tabs-item:target h3 { background-color: black; }
			
.tabs .tabs-item h3 a
{
	display: block;
	width: 100%;
	line-height: 1.8em;
	text-align: center;
	text-decoration: none;
	color: white;
}

.json-text
{
	width: 100%;
	height: 100%;
}

.json-tree
{
	height: 100%;
	width: 100%;
	overflow: auto;
}

.json-tree .node
{
	width: 90%;;
}

.json-tree .node-head
{
	font-size: 16pt;
	width: 75%;
	background-color: #f0f0f0;
	border-style: dotted;
	border-color: black;
	border-width: 1px;
	color: blue;
	cursor: pointer;
	padding-left: 5px;
	margin: 5px 0 5px 0;
	border-radius: 5px;
	word-wrap: break-word;
}

.json-tree .node-head .sign
{
	color: grey;
	font-weight: 700;
}

.json-tree .node .node-body .val
{
	font-size: 14pt;
	width: 100%;
}

.info
{
	overflow: hidden;
	position: relative;
	min-width: 20em;
	min-height: 20em;
	font-style: italic;
	font-size: 13pt;
	padding: 30px 30px 15px 15px;
	font-weight: bold;
}

.info .code
{
	margin-top: -15px;
	padding: 0;
}

::-webkit-scrollbar
{
    width: 10px;
    height: 10px;
    border: solid 1px grey;
    background-color: white;
}

::-webkit-scrollbar-thumb
{
    background-color: grey;
}


