table, th , td
{
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
} 

table tr:nth-child(odd)
{
  background-color: #f1f1f1;
}

table
{
	word-break: break-all;
}

table tr:nth-child(even) {
  background-color: #ffffff;
}

img { width: 100%; }

td:nth-child(1) { width: 150px; }
td:nth-child(2) { width: 170px; }
td:nth-child(3) { width: 85px; }
td:nth-child(4) { width: 85px; }
td:nth-child(5) { width: 90px; }
td:nth-child(6) { width: 250px; }

a
{
	text-decoration: none;
	color: blue;
}

button { cursor: pointer; }

.list
{
	width: 850px;
}

.num { width: 40px; }

#background-details
{
	width: 100%;
	height: 100%;
	position: fixed;
	overflow: hidden;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.3);
}

