html, body
{
	background-color: #2F91A0;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

#body-wrapper
{
	background-color: #70FCF5;
	position: absolute;
	top: 10px;
	bottom: 10px;
	left: 20%;
	right: 20%;
	height: 95%;
	min-width: 400px;
	min-height: 500px;
	font-size: 1.2em;
	font-family: serif;
	color: #3D423C;
	border-radius: 5px;
}

#header
{
	margin-left: 7px;
	width: 97%;
	color: #3F3F3F;
}

#main
{
	position: absolute;
	bottom: 50px;
	top: 70px;
	width: 97%;
	left: 10px;
	overflow: auto;
}

#footer
{
	position:absolute;
	margin-left: 7px;
	width: 97%;
	height: 50px;
	bottom: 0;
	margin-top: 10px;
	text-align: center;
	font-size: 1em;
}

#footer a
{
	color: grey;
}

#header-item-menu, #messages, #friends, #personalMessages
{
	list-style-type: none;
	margin-left: -50px;
	margin-top: 0;
	margin-bottom: 0;
}

#header-item-menu li
{
	display: inline;
	margin-left: 15px;
}

#header-item-menu li a
{
	font-weight: bold;
	font-style: italic;
}

.messages-item, .friends-item, .personalMessages-item
{
	margin: 10px;
	padding-top: 5px;
	max-width: 95%;
	overflow: hidden;
	word-wrap: break-word;
}
.messages-item, .friends-item
{
	max-height: 10em;
	min-height: 5em;
	border-top-style: dotted;
	border-top-width: 1px;
	border-top-color: grey;
}

.messages-item
{
	cursor: pointer;
}

.messages-name, .friends-name, .friends-email
{
	display: block;
	max-height: 2.3em;
	vertical-align: top;
	overflow: hidden;
}

.messages-name, .friends-email
{
	margin-bottom: 7px;
}

.messages-name
{
	margin-bottom: 5px;
	color: #2F51A0;
}

.friends-email
{
	font-size: 0.8em;
}


.friends-name, .messages-name
{
	font-size: 0.9em;
}

.messages-picture, .friends-picture,  #personalMessages-picture
{
	margin-right: 10px;
	float: left;
}

.messages-picture, #personalMessages-picture
{
	width: 150px;
}

.friends-picture
{
	width: 170px;
}

.messages-last
{
	color: #3D423C;
}


#personalMessages-wrapper
{
}

#personalMessages
{
	float: left;
	// width:;
}

#personalMessages-form textarea
{
	width: 40em;
	height: 9em;
}

.search
{
	margin-top: 10px;
	width: 20em;
	font-size: 0.7em;
	font-style: italic;
	color: grey;
}

.button
{
    background: lightblue;
    color: #2F51A0;
    border-radius: 3px;
    cursor: pointer;
}

.friends-sendMessage
{
	background-color: lightblue;
	padding: 3px;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
}

a
{
	color: #2F51A0;
	text-decoration: none;
}

::-webkit-scrollbar
{
    width: 10px;
    height: 10px;
    border: solid 1px grey;
    background-color: white;
}

::-webkit-scrollbar-thumb
{
    background-color: grey;
}